[submodule ".vim/bundle/flake8"]
	path = .vim/bundle/flake8
	url = https://github.com/nvie/vim-flake8
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule ".vim/bundle/airline"]
	path = .vim/bundle/airline
	url = https://github.com/bling/vim-airline
